<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Account Recovery</title>
    <style>
        .container {
            width: 5in; 
        }
    </style>
</head>
<body>
    <nav>
        <h4>HydroGrowTech: 
            <p><i>Empowering growth, nurturing tomorrow</i></p>
        </h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5><strong>Reset Password</strong></h5>
            </div>
            <div class="card-body">
                <form action="/auth/forgot-password" method="POST">
                    <div class="form-group">
                        <input for="email" type="email" class="form-control" id="email" placeholder="Email Address" name="email">
                    </div>

                    <div class="form-group">
                        <input for="password" type="password" class="form-control" id="password" placeholder="New Password" name="password">
                    </div>
                    
                    <div class="form-group">
                        <input for="passwordConfirm" type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Password" name="passwordConfirm">
                    </div> 

                    <div class="form-group">
                        <label for="securityQuestion">Select a Security Question</label>
                        <select class="form-control" id="securityQuestion" name="securityQuestion">
                            <option value="What is your favorite color?">What is your favorite color?</option>
                            <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                            <option value="What is the name of your first pet?">What is the name of your first pet?</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input for="securityAnswer" type="text" class="form-control" id="securityAnswer" placeholder="Answer to Security Question" name="securityAnswer">
                    </div>
                    
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Reset Password</button>
                    </div> 
                </form>
            </div>
        </div>

        {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>
